.mynav {
  z-index:999;
}
.mycar{
  margin-top: 95px;
}
#redes_sociales{
    display:block;
    float: right;
    padding:5px;
  }
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

.icon-facebook-sign {
    font-size:38px;
    color: white;
}
.icon-instagram {
    font-size:40px;  
    color: white;
  }
  .icon-twitter-sign {
    font-size:40px;  
    color: white;
  }
  .icon-youtube {
    font-size:38px;  
    color: white;
  }
